<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"> 
<title th:text="#{Lable.title}">I18N</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type="text/javascript">
        function doAjaxPost() {
        // get the form values
       // var name = $('#name').val();
       // var education = $('#education').val();
       alert("name");
        $.ajax({
        	url : "http://localhost:8093/SpringThymeleaf-I18N100/?lang=hi",
       // data: "firstname=" + name + "&lastname=" + education, 
        success: function(response){
         //  alert(response);
        // we have the response
        $('#info').html(response);
        $('#add').val('data sent sent');
       // $('#info1').text();
        //empty the fild
        $('#name').val('');
        $('#education').val('');
        },
        error: function(e){
        alert('Error: ' + e);
        } 
        });
        }
        </script>
</head>
<body>
 Language :  <a href="?lang=es">TELGU</a>  | <a href="?lang=hi">HINDI</a>  |  <a href="?lang=en">ENGLISH</a>
 
 <br>
	<input type="button" value="TELGU" onclick="doAjaxPost()">
	<br />
	<input type="button" value="HINDI" onclick="doAjaxPost()">
	<br />
	<input type="button" value="ENGLISH" onclick="doAjaxPost()">
	<br />
   <h1>Spring MVC + Thymeleaf  Hello World example</h1>
   <h1 th:text="#{welcome.msg}">Thymeleaf</h1>
  Name:: <input type="text" name="name">
  <br>
   <p th:text="${message}"></p>
</body>
</html>